<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/761058f2ee.js" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-LB0F08J7HS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LB0F08J7HS');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CountABC - Free counting API</title>
    <link rel="icon" href="https://countabc.xyz/static/img/logo.png" type="image/png">
    <link rel="shortcut icon" href="https://countabc.xyz/static/img/logo.png">
    <link rel="canonical" href="https://countabc.xyz">
    <meta name="description"
        content="CountABC offers a free and easy-to-use counting API for developers. Create simple numeric counters, track events, and monitor page interactions effortlessly. With features like key management, reset options, and real-time updates, CountABC simplifies data tracking and analytics. Get started with CountABC today for seamless counting solutions.">
    <meta name="keywords"
        content="CountABC, CountABC, counting, count, api, key-value store, free api, visitor count, hit counter, page counter, visitors, visitor counter, api counter, counting api, free api,Counting API, Numeric counters, Event tracking, Page interactions, Data analytics, Key management, Real-time updates, Data tracking, Developer tools, Free counting service">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="CountABC">
    <meta property="og:title" content="CountABC">
    <meta property="og:description"
        content="CountABC is a free counting service. You can use it to track page hits, and specific events among other things.">
    <meta property="og:url" content="">
    <meta property="og:image" content="logo.png">
    <meta property="og:image:width" content="64">
    <meta property="og:image:height" content="64">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-dark.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/light.css" id="style">
    <style>
        .float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: rgba(32, 42, 78, 0.942);
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            box-shadow: 1px 1px 1px #000000;
        }

        .my-float {
            margin-top: 22px;
        }

        /* Add CSS for the floating badge */
        .product-hunt-badge {
            position: fixed;
            left: 10px;
            /* Adjust the left position as needed */
            top: 90%;
            /* Adjust the top position as needed */
            transform: translateY(-50%);
            z-index: 9999;
        }
    </style>

    <script>
        // change stylesheet using JavaScript
        function changeStyle(event) {
            event.preventDefault(); // Prevent the default link behavior
            var style = document.getElementById('style');
            console.log(style.href);
            if (style.href == 'https://countabc.xyz/static/css/light.css') {
                style.href = 'https://countabc.xyz/static/css/dark.css';
            } else {
                style.href = 'https://countabc.xyz/static/css/light.css';
            }
        }
        document.getElementById('float').onclick = changeStyle(event);
        document.getElementById('float').ontouchstart = changeStyle(event);

        document.getElementById('float')
            .addEventListener('click', changeStyle(event))
            .addEventListener('touchstart', changeStyle(event));

    </script>
</head>

<body>
    <a class="product-hunt-badge"
        href="https://www.producthunt.com/posts/countabc?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-countabc"
        target="_blank">
        <img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=413070&theme=light"
            alt="CountABC - Free Counting API | Product Hunt" style="width: 200px; height: 54px;" width="250"
            height="54" />
    </a>

    <div class="float" onclick="changeStyle(event)">
        <i class="fa-regular fa-lightbulb my-float dark"></i>
    </div>
    <header class="header">
        <img src="/static/img/logo.png">
        <h1 class="title">CountABC</h1>
        <h2 class="legend">Counting should be easy, right?</h2>
    </header>
    <section class="container">
        <h1 id="CountABC">CountABC</h1>
        <p>
            This API allows you to create simple numeric counters. IaaS, Integer as a Service.
        </p>

        <p style="margin-bottom: 2px">It goes down to:</p>
        <ul>
            <li>Create a counter and restrict its operations</li>
            <li>Reset the value of a counter</li>
            <li>Increment/decrement a counter</li>
        </ul>
        <p>All counters are accesible if you know the key and there are not private counters (yet?).</p>

        <p>
            Want to track the number of hits a page had? Sure.<br>
            Want to know the number of users that clicked on the button "Feed Cow"? There you go.
        </p>

        <p>
            So far, <code data-stat-id="keys_created">...</code> keys have been created and there have been <code
                data-stat-id="requests">...</code> requests served being <code data-stat-id="keys_updated">...</code>
            key updates.<br>
            This page has been visited <code id="visits">...</code> times.
        </p>
        <h1 id="tldr">TL;DR</h1>
        <p>
            Each counter is identified inside a <b>namespace</b> with a <b>key</b>.<br>
            The namespace should be unique, so its recommend using your site's domain.<br>
            Inside each namespace you can generate all the counters you may need.
        </p>
        <p>The <b>hit</b> endpoint provides increment by one counters directly. Each time its requested the counter will
            increase by one:</p>
        <pre class="success" style="font-size: 18px"><a href="https://api.countabc.xyz/hit/namespace/key" target="_blank">https://api.countabc.xyz/hit/<code>namespace</code>/<code>key</code></a>
    ⇒ 200 { "value": 1234 }</pre>
        <p>Want to start counting right away? Check the examples below!</p>
        <h1 id="example">Example</h1>
        <p>Lets say you want to display the number of pageviews a site received.</p>
        <div class="highlight html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span
                    class="hljs-attr">id</span>=<span class="hljs-string">"visits"</span>&gt;</span>...<span
                class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></div>
        <pre
            class="info">Remember to change <input type="text" id="domain" value="mysite.com" maxlength="64" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"> with your site's <b>domain</b>.</pre>

        <h4>Using JSONP</h4>
        <div class="highlight html hljs xml"><span class="hljs-tag">&lt;<span
                    class="hljs-name">script</span>&gt;</span><span class="javascript">
                <span class="hljs-function"><span class="hljs-keyword">function</span> <span
                        class="hljs-title">cb</span>(<span class="hljs-params">response</span>) </span>{
                <span class="hljs-built_in">document</span>.getElementById(<span
                    class="hljs-string">'visits'</span>).innerText = response.value;
                }
            </span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">async</span> <span
                    class="hljs-attr">src</span>=<span
                    class="hljs-string">"https://api.countabc.xyz/hit/</span></span><code
                class="mysite"><span class="hljs-tag"><span class="hljs-string">mysite.com</span></span></code><span
                class="hljs-tag"><span class="hljs-string">/visits?callback=cb"</span>&gt;</span><span
                class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
        </div>
        <h4>Using XHR</h4>
        <div class="highlight js hljs javascript"><span class="hljs-keyword">var</span> xhr = <span
                class="hljs-keyword">new</span> XMLHttpRequest();
            xhr.open(<span class="hljs-string">"GET"</span>, <span
                class="hljs-string">"https://api.countabc.xyz/hit/</span><code
                class="mysite"><span class="hljs-string">mysite.com</span></code><span
                class="hljs-string">/visits"</span>);
            xhr.responseType = <span class="hljs-string">"json"</span>;
            xhr.onload = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span
                    class="hljs-params"></span>) </span>{
            <span class="hljs-built_in">document</span>.getElementById(<span
                class="hljs-string">'visits'</span>).innerText = <span class="hljs-keyword">this</span>.response.value;
            }
            xhr.send();
        </div>
        <h4>Using jQuery</h4>
        <div class="highlight js hljs javascript">$.getJSON(<span
                class="hljs-string">"https://api.countabc.xyz/hit/</span><code
                class="mysite"><span class="hljs-string">mysite.com</span></code><span
                class="hljs-string">/visits"</span>, <span class="hljs-function"><span
                    class="hljs-keyword">function</span>(<span class="hljs-params">response</span>) </span>{
            $(<span class="hljs-string">"#visits"</span>).text(response.value);
            });</div>
        <h3>Multiple pages</h3>
        <p>If you want to have a counter for each individual page you can replace <code>visits</code> with a unique
            identifier for each page, i.e. <code>index</code>, <code>contact</code>, <code>item-1234</code>. Check <a
                href="#format">the right format</a> a key must have.</p>
        <p>Alternatively, you can use some reserved words that are replaced server-side.<br>For example, if a request is
            made from <code>https://mysite.com/example/page:HOST:PATHNAME</code></p>
        <ul>
            <li><code>:HOST:</code> will be replaced with <code>mysite.com</code></li>
            <li><code>:PATHNAME:</code> will be replaced with <code>examplepage</code></li>
        </ul>
        <br>
        <pre class="info">Note: Reserved words are padded with dots if their length is less than three.</pre>
        <p>So you could use something like:</p>
        <pre
            class="success"><a href="https://api.countabc.xyz/hit/mysite.com/:PATHNAME:" target="_blank">https://api.countabc.xyz/hit/<code>mysite.com</code>/:PATHNAME:</a></pre>
        <p>Or even more generic (though not recommended):</p>
        <pre
            class="success"><a href="https://api.countabc.xyz/hit/:HOST:/:PATHNAME:" target="_blank">https://api.countabc.xyz/hit/:HOST:/:PATHNAME:</a></pre>
        <pre
            class="info"><b>Important</b>: if you want to know the actual key used you can check the <code>X-Path</code> header.</pre>
        <h3>Counting events</h3>
        <p>You can use the API to count any kind of stuff, lets say:</p>
        <div class="highlight html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span
                    class="hljs-attr">onclick</span>=<span class="hljs-string">"clicked()"</span>&gt;</span>Press
            Me!<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">script</span>&gt;</span><span class="javascript">
                <span class="hljs-function"><span class="hljs-keyword">function</span> <span
                        class="hljs-title">clicked</span>(<span class="hljs-params"></span>) </span>{
                <span class="hljs-keyword">var</span> xhr = <span class="hljs-keyword">new</span> XMLHttpRequest();
                xhr.open(<span class="hljs-string">"GET"</span>, <span
                    class="hljs-string">"https://api.countabc.xyz/hit/</span></span><code
                class="mysite"><span class="javascript"><span class="hljs-string">mysite.com</span></span></code><span
                class="javascript"><span class="hljs-string">/awesomeclick"</span>);
                xhr.responseType = <span class="hljs-string">"json"</span>;
                xhr.onload = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span
                        class="hljs-params"></span>) </span>{
                alert(<span class="hljs-string">`This button has been clicked <span class="hljs-subst">${<span
                            class="hljs-keyword">this</span>.response.value}</span> times!`</span>);
                }
                xhr.send();
                }
            </span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
        </div>
        <button onclick="clicked()">Press Me!</button>
        <script>
            function clicked() {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "https://api.countabc.xyz/hit/mysite.com/awesomeclick");
                xhr.responseType = "json";
                xhr.onload = function () {
                    alert(`This button has been clicked ${this.response.value} times!`);
                }
                xhr.send();
            }
        </script>
        <h1 id="roadmap">Roadmap</h1>
        <p>If this API starts getting some traction, I have some ideas in mind:</p>
        <ul>
            <li>Being able to open a <a
                    href="https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Receiving_events_from_the_server"
                    target="_blank">SSE stream</a> and receive updates in real time avoiding polling</li>
            <li>Enable batch creating/updating</li>
            <li>Unique counting?</li>
            <li>Float numbers?</li>
            <li>Generate a secret key to update/reset keys</li>
        </ul>
        <h1 id="faq">FAQ</h1>
        <h2>Where is the API documentation?</h2>
        <p><a href="#api">Scroll</a> a bit further.</p>
        <h2>Is the API free?</h2>
        <p>Completely free.</p>
        <h2>Rate Limiting?</h2>
        <p>Key retrieving and updating has <b>no</b> limits whatsoever. Key <b>creation</b> is limited to 20/IP/s.</p>
        <h2>Can I delete a key?</h2>
        <p>You can't, just let the key expire.<br>If you created a key with a wrong configuration you can always create
            another key.</p>
        <h2>Will I blow up the CountABC server?</h2>
        <p>CountABC is using <a href="https://redis.io/" target="_blank">Redis</a> as database, a very fast key-value
            solution.<br>If you are planning to make <b>tens of thousands</b> of requests, I'll be glad if you ping me
            letting me know.</p>
        <h2 id="contact">Issues/Contact</h2>
        <p>If you have issues, suggestions or just want to contact me <a href="mailto:shubh@CountABC.xyz"
                target="_blank">send me an email</a>.</p>
        <h1 id="api">API</h1>
        <h2>Namespaces</h2>
        <p>Namespaces are meant to avoid name collisions. You may specify a namespace during the creation of a key. Its
            recommend use the domain of the application as namespace to avoid collision with other websites.<br>If the
            namespace is not specified the key is assigned to the <code>default</code> namespace. If your key resides in
            the default namespace you don't need to specify it.</p>
        <h2>Endpoints</h2>
        <p>
            All requests support <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS"
                target="_blank">cross-origin resource sharing</a> (CORS) and SSL.<br>
            You can use <a href="https://en.wikipedia.org/wiki/JSONP">JSONP</a> sending the callback parameter. JSONP
            requests will never fail, they will include the HTTP code in the response.<br>
            Also a 1x1 GIF image is supported sending <code>?img</code>.
        </p>
        <p>Base API path: <a href="https://api.countabc.xyz" target="_blank">https://api.countabc.xyz</a></p>
        <p>In the case of a server failure, the API will send:</p>
        <pre class="fail">⇒ 500 { "error": "Error description" }</pre>
        <h3 class="endpoint">/get/:namespace?/:key</h3>
        <p>Get the value of a key. Optionally specify the namespace.</p>
        <pre class="success"><a href="https://api.countabc.xyz/get/test" target="_blank">https://api.countabc.xyz/get/test</a>
    ⇒ 200 { "value": 42 }
    
    <a href="https://api.countabc.xyz/get/mysite.com/test" target="_blank">https://api.countabc.xyz/get/mysite.com/test</a>
    ⇒ 200 { "value": 24 }</pre>
        <pre class="fail"><a href="https://api.countabc.xyz/get/nonexisting" target="_blank">https://api.countabc.xyz/get/nonexisting</a>
    ⇒ 404 { "value": null }</pre>
        <h3 class="endpoint">/set/:namespace?/:key?value=:value</h3>
        <p>Set the value of a key. Optionally specify the namespace. The key <b>must</b> be created with
            <code>enable_reset</code> set to <code>1</code> (true).
        </p>
        <p>This endpoint will return the previous value before the assignation.</p>
        <pre class="success"><a href="https://api.countabc.xyz/set/test?value=69" target="_blank">https://api.countabc.xyz/set/test?value=69</a>
    ⇒ 200 { "old_value": 42, "value": 69 }
    
    <a href="https://api.countabc.xyz/set/mysite.com/test?value=96" target="_blank">https://api.countabc.xyz/set/mysite.com/test?value=96</a>
    ⇒ 200 { "old_value": 24, "value": 96 }</pre>
        <pre class="fail"><a href="https://api.countabc.xyz/set/resetdisabled?value=33" target="_blank">https://api.countabc.xyz/set/resetdisabled?value=33</a>
    ⇒ 403 { "old_value": 1234, "value": 1234 }
    
    <a href="https://api.countabc.xyz/set/nonexisting?value=33" target="_blank">https://api.countabc.xyz/set/nonexisting?value=33</a>
    ⇒ 404 { "old_value": null, "value": null }</pre>
        <h3 class="endpoint">/update/:namespace?/:key?amount=:amount</h3>
        <p>Updates a key with <code>+/- amount</code>. Optionally specify the namespace. The <code>amount</code>
            <b>must</b> be within <code>update_lowerbound</code> and <code>update_upperbound</code> specified during the
            creation of the key.
        </p>
        <pre class="success"><a href="https://api.countabc.xyz/update/test?amount=5" target="_blank">https://api.countabc.xyz/update/test?amount=5</a> (value was 42)
    ⇒ 200 { "value": 47 }
    
    <a href="https://api.countabc.xyz/update/mysite.com/test?amount=-7" target="_blank">https://api.countabc.xyz/update/mysite.com/test?amount=-7</a> (value was 53)
    ⇒ 200 { "value": 46 }</pre>
        <pre class="fail"><a href="https://api.countabc.xyz/update/outofrange?amount=3" target="_blank">https://api.countabc.xyz/update/outofrange?amount=3</a> (value was 47, update_upperbound=2)
    ⇒ 403 { "value": 47 }
    
    <a href="https://api.countabc.xyz/update/nonexisting?amount=1" target="_blank">https://api.countabc.xyz/update/nonexisting?amount=1</a>
    ⇒ 404 { "value": null }</pre>
        <h3 class="endpoint">/hit/:namespace?/:key</h3>
        <p>An easier way to track incrementing by one keys. This endpoint will create a key if it doesn't exists and
            increment it by one on each subsequent request. Optionally specify a namespace.<br>The key created has the
            following properties:</p>
        <ul>
            <li><code>enable_reset</code> to <code>0</code> (false)</li>
            <li><code>update_lowerbound</code> to <code>0</code></li>
            <li><code>update_upperbound</code> to <code>1</code></li>
        </ul>
        <p>Effectively making the key only incrementable by one.</p>
        <pre class="success"><a href="https://api.countabc.xyz/hit/mysite.com/visits" target="_blank">https://api.countabc.xyz/hit/mysite.com/visits</a> (value was 35)
    ⇒ 200 { "value": 36 }
    
    <a href="https://api.countabc.xyz/hit/nonexisting" target="_blank">https://api.countabc.xyz/hit/nonexisting</a> (key is created)
    ⇒ 200 { "value": 1 }</pre>
        <h3 class="endpoint">/create</h3>
        <p>Creates a key.<br>All parameters are optional</p>
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>default</th>
                    <th>description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>key</td>
                    <td>New UUID</td>
                    <td>Name of the key</td>
                </tr>
                <tr>
                    <td>namespace</td>
                    <td>default</td>
                    <td>Namespace to store the key</td>
                </tr>
                <tr>
                    <td>value</td>
                    <td>0</td>
                    <td>The initial value stored</td>
                </tr>
                <tr>
                    <td>enable_reset</td>
                    <td>0</td>
                    <td>Allows the key to be resetted with <b>/set</b></td>
                </tr>
                <tr>
                    <td>update_lowerbound</td>
                    <td>-1</td>
                    <td>Restrict update to not subtract more than this number. This number <b>must</b> be negative or
                        zero.</td>
                </tr>
                <tr>
                    <td>update_upperbound</td>
                    <td>1</td>
                    <td>Restrict update to not add more than this number. This number <b>must</b> be positive or zero.
                    </td>
                </tr>
            </tbody>
        </table>
        <pre
            class="info">Note about <b>expiration</b>: Every time a key is updated its expiration is set to <b>6 months</b>. So don't worry, if you still using it, it won't expire.</pre>
        <pre class="info"
            id="format">Keys and namespaces must have at least 3 characters and less or equal to 64. Keys and namespaces must match: <b>^[A-Za-z0-9_\-.]{3,64}$</b></pre>
        <pre class="success"><a href="https://api.countabc.xyz/create" target="_blank">https://api.countabc.xyz/create</a>
    ⇒ 200 {"namespace":"default", "key":"6d5891ff-ebda-48fb-a760-8549d6a3bf3a", "value":0}
    
    <a href="https://api.countabc.xyz/create?namespace=mysite.com&amp;value=42" target="_blank">https://api.countabc.xyz/create?namespace=mysite.com&amp;value=42</a>
    ⇒ 200 {"namespace":"mysite.com", "key":"33606dbe-4800-4228-b042-5c0fb8ec8f08", "value":42}
    
    <a href="https://api.countabc.xyz/create?key=counter&amp;expiration=60" target="_blank">https://api.countabc.xyz/create?key=counter&amp;expiration=60</a>
    ⇒ 200 { "namespace": "default", "key":"counter", "value": 0 }</pre>
        <pre class="fail"><a href="https://api.countabc.xyz/create?name=alreadycreated" target="_blank">https://api.countabc.xyz/create?name=alreadycreated</a> (the key already existed)
    ⇒ 409 { "namespace": null, "key": null, "value": null }</pre>
        <h3 class="endpoint">/info/:namespace?/:key</h3>
        <p>Get information about a key. Optionally specify the namespace.</p>
        <pre class="success"><a href="https://api.countabc.xyz/info/test" target="_blank">https://api.countabc.xyz/info/test</a>
    ⇒ 200 {
        "namespace": "default",
        "key": "test",
        "ttl": 321,
        "value": 42,
        "enable_reset": false,
        "update_upperbound": 1,
        "update_lowerbound": 1
    }</pre>
        <pre class="fail"><a href="https://api.countabc.xyz/info/nonexisting" target="_blank">https://api.countabc.xyz/info/nonexisting</a>
    ⇒ 404 {
        "namespace": null,
        "key": null,
        "ttl": null,
        "value": null,
        "enable_reset": null,
        "update_upperbound": null,
        "update_lowerbound": null
    }</pre>
        <h3 class="endpoint">/stats</h3>
        <p>Get some CountABC stats</p>
        <pre class="success"><a href="https://api.countabc.xyz/stats" target="_blank">https://api.countabc.xyz/stats</a>
    ⇒ 200 {
        "keys_created": <span data-stat-id="keys_created">21</span>,
        "keys_updated": <span data-stat-id="keys_updated">673</span>,
        "requests": <span data-stat-id="requests">4,271</span>,
        "version": "<span data-stat-id="version">0.1.1</span>"
    }</pre>
        <footer>
            <!-- made by <a href="https://github.com/shubhtoy">Shubh Mittal</a>
            <br> -->
            inspired by CountAPI from <a href="https://www.npmjs.com/package/countapi-js" target="_blank">mlomb</a>

        </footer>
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
        <script>
            function request(url, callback) {
                var req = new XMLHttpRequest();
                req.open("GET", url);
                req.responseType = 'json';
                req.onload = function () {
                    if (this.status == 200 && typeof this.response === 'object')
                        callback(this.response);
                    else
                        callback(null);
                }
                req.send();
            }
            function stats() {
                request("https://api.countabc.xyz/stats", function (obj) {
                    if (obj) {
                        for (var key in obj) {
                            var els = document.querySelectorAll(`*[data-stat-id="${key}"]`);
                            var str = obj[key].toLocaleString();
                            for (var i in els)
                                els[i].innerText = str;
                        }
                    }
                    setTimeout(stats, 10000);
                });
            }

            stats();
            request("https://api.countabc.xyz/hit/CountABC.xyz/visits", function (obj) {
                if (obj) {
                    document.getElementById('visits').innerText = obj.value.toLocaleString();
                }
            });

            function updateDomain(domain) {
                document.querySelectorAll('.mysite').forEach(function (e) {
                    e.innerText = domain;
                });
            }

            hljs.configure({ tabReplace: '    ' });
            document.addEventListener('DOMContentLoaded', function (event) {
                updateDomain("mysite.com");
                document.getElementById('domain').addEventListener('input', function (e) {
                    e.target.value = e.target.value.replace('https://', '').replace('http://', '').replace(/[^A-Za-z0-9_\-.]/g, '');
                    updateDomain(e.target.value);
                });
                document.querySelectorAll('div.highlight').forEach(function (block) {
                    hljs.highlightBlock(block);
                });
            });
        </script>
    </section>


    <scribe-shadow id="crxjs-ext"
        style="position: fixed; width: 0px; height: 0px; top: 0px; left: 0px; z-index: 2147483647; overflow: visible;"></scribe-shadow>
</body>

</html>